body{
	background-color:#DDD;
}
.navbar-text img{
	width:85px; 
	height:20px;
	margin-left:70px;
}
.switch-box{
	padding-top:40px;
	padding-bottom:20px;
	margin-top:10px;
	background-color:#fff;
	border:1px solid #b1b1b1;
}

.switch-box img{
	width:100%;
}

.info-box{
	padding-top:20px;
	padding-bottom:30px;
	margin-top:10px;
	background-color:#fff;
	border:1px solid #b1b1b1;
}

.ports-box{
	padding-top:20px;
	padding-bottom:30px;
	margin-top:10px;
	background-color:#fff;
}
table{
	 margin-left:auto; 
    	margin-right:auto;
	border-collapse: collapse; 
}
#refreshPorts{
	margin-right:10%;
}

#refreshPorts td{
	padding-top: 2.5%;
}

form{
	margin-bottom:0px;
	}

.link-ok{
	padding-left:50px;
	margin-bottom:2px;
	color:green;
}

.no-link{
	padding-left:50px;
	margin-bottom:2px;
	color:#DE0000;
}
.etherGreen{
	width:5%;
}



#etherGreen0 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:20.6%;
	top:5%;
}

#etherGreen1 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:26.1%;
	top:5%;
}

#etherGreen2 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:31.6%;
	top:5%;
}

#etherGreen3 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:37.1%;
	top:5%;
}

#etherGreen4 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:42.6%;
	top:5%;
}

#etherGreen5 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:62.6%;
	top:5%;
}

#etherGreen6 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:68.1%;
	top:5%;
}

#etherGreen7 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:73.6%;
	top:5%;
}

#etherGreen8 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:79.1%;
	top:5%;
}

#etherGreen9 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:84.6%;
	top:5%;
}


#etherGreen10 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:12%;
	top:5%;
}




#interface{
	display:none;
}
